version: '3.8'

services:
    db:
        image: mysql:8.0
        container_name: symfony_mysql_proyecto
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: symfony
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: symfony_phpmyadmin_proyecto
        restart: unless-stopped
        environment:
            PMA_HOST: db
            PMA_USER: symfony
            PMA_PASSWORD: symfony
        ports:
            - "8081:80"
        depends_on:
            - db
volumes:
    db_data:
    database_data:
